<div class="buyNow-backdrop buyNow-is-hidden" buyNow-modal>
    <div class="buyNow-modal">
      <button class="close-btn" buyNow-modal-close> 
        <svg class="close-icon">
          <use xlink:href="#close-icon"></use>
        </svg>
      </button>
      <h2 class="buyNow__heading">Buy now</h2>
      <ul class="buyNow-products">
        <li class="ice-cream">
          <img width="132"
                  class="modal-img_ice" 
                  src="./images/ice cream.png"
                  alt="foto">
                  <img class="background-ice-cream"
                  src="./images/Ellipse 10.png">
          <svg class="buyNow__icon-ice-cream" width="132" height="135" > 
            <use xlink:href="#"></use></svg>
          <p class="buyNow-products__text">ice cream</p> 
        </li>
        <li class="ice-cream">
          <img width="132"
                  class="modal-img_ice" 
                  src="./images/ice coffee.png"
                  alt="foto">
                  <img class="background-ice-coffee"
                  src="./images/Ellipse 11.png">
          <svg class="buyNow__icon-ice-coffee" width="132" height="135" > 
            <use xlink:href="#"></use>
          </svg>
          <p class="buyNow-products__text">ice coffee</p> 
        </li>
        <li class="ice-cream">
          
          <img width="132"
                  class="modal-img_ice" 
                  src="./images/milkshake.png"
                  alt="foto">
                  <img class="background-milkshake"
                  src="./images/Ellipse 12.png">
          <p class="buyNow-products__text">milkshake</p> 
          <svg class="buyNow__icon-milkshake" width="132" height="135" > 
            <use xlink:href="#"></use>
          </svg>
        </li>
      </ul>
      <form class="form">
        <div class="form-group" role="group" aria-labelledby="details">
          <label class="form__item">
            <input type="name" name="name" class="form__item-input" placeholder="Name" pattern="\w{0,16}">
          </label>
          <label class="form__item">
            <input type="tel" name="tel" class="form__item-input" placeholder="Phone" pattern="\d{9,15}">
          </label>
          <label class="form__item">
            <textarea name="comment" class="form__item-textarea" rows="10" placeholder="Comment" pattern="\d{0,300}"></textarea>
          </label>
        </div>
        <button type="submit" class="form__submit">Submit</button>
      </form>
   </div>
</div>