<div class="buyNow-backdrop buyNow-is-hidden" buyNow-modal>
    <div class="buyNow-modal">
      <button class="close-btn" buyNow-modal-close> 
        <svg class="close-icon">
          <use xlink:href="#close-icon"></use>
        </svg>
      </button>
      <h2 class="buyNow__heading">Buy now</h2>
      <ul class="buyNow-products">
        <li>
          <label class="buyNow-label ice-cream">
            <input type="checkbox" name="ice-cream" id="ice-cream" class="buyNow-checkbox">
            <img 
            width="172"
            class="buyNow-img" 
            src="./images/ice cream.png"
            alt="foto">
            <p class="buyNow-products__text buyNow-products__text--ice">ice cream</p> 
          </label>
        </li>
        <li>
          <label class="buyNow-label ice-coffee">
            <input type="checkbox" name="ice-cream" id="ice-cream" class="buyNow-checkbox">
            <img
            width="172"
            class="buyNow-img"
            src="./images/ice coffee.png"
            alt="foto">
            <p class="buyNow-products__text">ice coffee</p> 
          </label>
        </li>
        <li>
          <label class="buyNow-label milkshake">
            <input type="checkbox" name="ice-cream" id="ice-cream" class="buyNow-checkbox">
            <img 
            width="172"
            class="buyNow-img" 
            src="./images/milkshake.png"
            alt="foto">
            <p class="buyNow-products__text">milkshake</p> 
          </label>
        </li>
      </ul>
      <form class="form">
        <div class="form-group" role="group" aria-labelledby="details">
          <label class="form__item">
            <input type="name" name="name" class="form__item-input" placeholder="Name" pattern="\w{0,16}">
          </label>
          <label class="form__item">
            <input type="tel" name="tel" class="form__item-input" placeholder="Phone" pattern="\d{9,15}">
          </label>
          <label class="form__item">
            <textarea name="comment" class="form__item-textarea" rows="10" placeholder="Comment" pattern="\d{0,300}"></textarea>
          </label>
        </div>
        <button type="submit" class="form__submit">Submit</button>
      </form>
   </div>
</div>