      
            <div class="modal">
            
        <button data-modal-close class="close"> <svg class="icon-close" width="13.3" height="13.3" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" >
            <use xlink:href="#close-mobile"></use>
          </svg>
        </button>

        <h2 class="data">Buy now</h2>
        <ul class="modal-product">
        <li class="ice-cream">
          
            <img src="./images/kelsey-curtis-G5ZenftPPOA-unsplash 2.png" alt="команда" width="132">
               <p class="modal-product__text">ice cream</p> 
        </li>
        <li class="ice-cream">
            <img src="./images/pariwat-pannium-0_qbeF_0zn8-unsplash 1.jpg" alt="команда" width="132">
               <p class="modal-product__text">ice coffee</p> 
        </li>
        <li class="ice-cream">
            <img src="./images/victor-rutka-4FujjkcI40g-unsplash 1.png" alt="команда" width="132">
               <p class="modal-product__text">milkshake</p> 
        </li>
        </ul>

        <form class="modal-form" action="">

        <div class="form">
        <label for="name" class="form-label" ></label>
        <input class="form-imput " type="name" id="name" placeholder="Name"> </div>

        <div class="form">
        <label for="tel" class="form-label"></label>
        <input class="form-imput " type="tel" name="tel" id="tel"placeholder="Phone"></div>

       
        <div class="form">
            <label class="form-label" for="comment"></label>
            <textarea class="area" name="comment" id="comment" cols="30" rows="10" placeholder="Comment"></textarea></div>
        
        <button type="submit" class="submit-button button pointer link">Submit</button>
    </form>
    </div>

    