<div class="is-hidden-franchise franchise-backdrop" franchise-modal>
  <div class="franchise-modal">
    <button type="button" class="close-btn" franchise-modal-close>
      <svg class="close-icon">
        <use xlink:href="#close-icon"></use>
      </svg>
    </button>
    <div>
      <h2 class="franchise__heading">Thank you for your interest in owning an Ice Cream shop</h2>
      <p class="franchise__paragraph">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
      <form class="form">
        <div class="form-group" role="group" aria-labelledby="details" >
          <label class="form__item">
            <input type="name" name="name" class="form__item-input" placeholder="Name">
          </label>
          <label class="form__item">
            <input type="tel" name="tel" class="form__item-input" placeholder="Phone">
          </label>
          <label class="form__item">
            <input type="email" name="email" class="form__item-input" placeholder="Email">
          </label>
          <label class="form__item">
            <textarea name="comment" class="form__item-textarea" rows="10" placeholder="Comment"></textarea>
          </label>
        </div>
        <button type="submit" class="form__submit">Відправити</button>
      </form>
    </div>
  </div>
</div>