<div class="header-container container"> 
  <svg class="header__logo">
    <use xlink:href="#logo"></use>
  </svg>
  <nav class="nav-container">
    <ul class="nav-list">
      <li class="nav-list__item"><a href="./index.html" class="nav-list__link">Home</li></a>
      <li class="nav-list__item"><a href="#about" class="nav-list__link"> How it's made?</li></a>
      <li class="nav-list__item"><a href="#products" class="nav-list__link"> Products</li></a>
      <li class="nav-list__item"><a href="#contacts" class="nav-list__link">Contact</li></a>
    </ul>
  </nav>
  <button class="menu-toggle js-open-menu" 
    aria-expanded="false" 
    aria-controls="mobile-menu">
    <svg class="burger">
      <use xlink:href="#burger"></use>
    </svg>
  </button>
  <button type="button" class="buynow">Buy now
  <svg class="arrow-icon">
    <use xlink:href="#arrow-icon"></use>
  </svg>
  </button>

    <svg class="header__logo">
        <use xlink:href="#logo"></use>
    </svg>
    <nav class="nav-container">
        <ul class="nav-list">
            <li class="nav-list__item"><a href="./index.html" class="nav-list__link">Home</li></a>
            <li class="nav-list__item"><a href="#about" class="nav-list__link"> How it's made?</li></a>
            <li class="nav-list__item"><a href="#products" class="nav-list__link"> Products</li></a>
            <li class="nav-list__item"><a href="#contacts" class="nav-list__link">Contact</li></a>
        </ul>
    </nav>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu-toggle_icon">
            <use xlink:href="#burger"></use>
        </svg>
    </button>
    <button type="button" class="buynow">Buy now
    <svg class="arrow-icon">
        <use xlink:href="#arrow-icon"></use>
    </svg>
    </button>
</div>