<div class="is-hidden location-backdrop" location-modal>
  <div class="location-modal">
    <button type="button" class="close-btn" location-modal-close>
      <svg class="close-icon">
        <use xlink:href="#close-icon"></use>
      </svg>
    </button>
    <div>
      <h2 class="location__heading">Our Locations</h2>
      <div class="location__iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82730.00489668692!2d34.48880970457535!3d49.610710089399724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1671815544241!5m2!1sru!2sua" width="224" height="199" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <button type="button" class="location-map">
        <a href="https://goo.gl/maps/wqkfj2bm386pDTFX6">Open Map</a>
      </button>
    </div>
  </div>
</div>