<div class="menu-container js-menu-container" id="mobile-menu">
  <svg class="menu-header__logo">
    <use xlink:href="#logo"></use>
  </svg>
  <button class="menu-toggle js-close-menu">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="close-mobile">
      <use xlink:href="#close-mobile"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
      <li class="mobile-menu__item"><a href="./index.html" class="mobile-menu__link">Home</li></a>
      <li class="mobile-menu__item"><a href="#about" class="mobile-menu__link"> How it's made?</li></a>
      <li class="mobile-menu__item"><a href="#products" class="mobile-menu__link"> Products</li></a>
      <li class="mobile-menu__item--noMargin"><a href="#contacts" class="mobile-menu__link">Contact</li></a>
  </ul>
  <button type="button" class="buynow-menu">Buy now
    <svg class="arrow-icon">
      <use xlink:href="#arrow-icon"></use>
    </svg>
  </button>

    <button class="menu-toggle js-close-menu">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="menu-toggle_icon">
            <path
                d="M29.6667 12.88L27.7867 11L20.3333 18.4533L12.88 11L11 12.88L18.4533 20.3333L11 27.7867L12.88 29.6667L20.3333 22.2133L27.7867 29.6667L29.6667 27.7867L22.2133 20.3333L29.6667 12.88Z" />
        </svg>
    </button>
    <ul class="mobile-menu">
        <li class="nav-list__item"><a href="./index.html" class="nav-list__link">Home</li></a>
        <li class="nav-list__item"><a href="#about" class="nav-list__link"> How it's made?</li></a>
        <li class="nav-list__item"><a href="#products" class="nav-list__link"> Products</li></a>
        <li class="nav-list__item"><a href="#contacts" class="nav-list__link">Contact</li></a>
    </ul>
</div>