<div class="menu-container js-menu-container" id="mobile-menu">
  <svg class="menu-header__logo">
    <use xlink:href="#logo"></use>
  </svg>
  <button class="menu-toggle js-close-menu">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="close-mobile">
      <use xlink:href="#close-mobile"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
      <li class="mobile-menu__item"><a href="./index.html" class="mobile-menu__link">Home</li></a>
      <li class="mobile-menu__item"><a href="#about" class="mobile-menu__link"> How it's made?</li></a>
      <li class="mobile-menu__item"><a href="#products" class="mobile-menu__link"> Products</li></a>
      <li class="mobile-menu__item--noMargin"><a href="#contacts" class="mobile-menu__link">Contact</li></a>
  </ul>
  <button type="button" class="buynow-menu">Buy now
    <svg class="arrow-icon">
      <use xlink:href="#arrow-icon"></use>
    </svg>
  </button>
</div>