<section class="products">
    <div class="products__container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list list">
            <li class="products__card products__ice-cream ">
                <h3 class="products__undertitle">ice cream</h3>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button type="button" class="products__button">
                    <svg class="product__icon" width="40" height="16" aria-label="icon">
                        <use href="./images/svg/prod-icon.svg#icon-prod-arrow"></use>
                    </svg>
                </button>
            </li>
             <li class="products__card products__ice-coffee">
                <h3 class="products__undertitle">ice coffee</h3>
                <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                </p>
                <button type="button" class="products__button">
                    <svg class="product__icon" width="40" height="16" aria-label="icon">
                        <use href="./images/svg/prod-icon.svg#icon-prod-arrow"></use>
                    </svg>
                </button>
            </li>
             <li class="products__card products__milkshakes">
                <h3 class="products__undertitle">milkshakes</h3>
                <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                </p>
                <button type="button" class="products__button">
                    <svg class="product__icon" width="40" height="16" aria-label="icon">
                        <use href="./images/svg/prod-icon.svg#icon-prod-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <svg>
            <symbol id="icon-prod-arrow" viewBox="0 0 82 32">
                <path d="M81.414 17.414c0.781-0.781 0.781-2.047 0-2.828l-12.728-12.728c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l11.314 11.314-11.314 11.314c-0.781 0.781-0.781 2.047 0 2.828s2.047 0.781 2.828 0l12.728-12.728zM0 18h80v-4h-80v4z"></path>
            </symbol>
        </svg>
    </div>
</section>