<section read-more-modal class="read-more-section is-hidden__modal">
    <div class="container read-more-modal">
        
            <button read-more-modal-close class="read-more__btn" aria-label="close" type="button">
                <svg class="read-more__close" width="12" height="12">
                    <use xlink:href="#close-icon"></use>
                </svg>
            </button>

            <h1 class="read-more__title">How it’s made?</h1>
            
            <iframe class="read-more__video " width="560" height="315" src="https://www.youtube.com/embed/2P_avDlig-U?start=15" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              
            <p class="read-more__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        
    </div>
</section>