 .modal {
    box-sizing: border-box;
    position: absolute;
    width: 568px;
    height: 644px;
    left: 0px;
    top: 0px;
    left: 50%;
    top: 50%;
    background: $white;
    border: 2px solid $secondaryYellow;
    border-radius: 10px;
  }
  
  .close {
    box-sizing: border-box;
    position: absolute;
    display: block;
    border: none;
    left: 490px;
    top: 8px;
    cursor: pointer;
  }
  .icon-close{
    fill: $black;
  }
  .close{
    &:hover,&:focus{
    // fill: $accent-color;
    // background-color: $title-first-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  }
  // .close:hover svg {
  //   fill: $accent-color;
  // }
  .modal-close-svg:hover {
    fill: currentColor;
  }
  
  .modal-form {
    margin-left: auto;
    margin-right: auto;
    // font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    // color: $title-second-color;
    /* identical to box height */
    letter-spacing: 0.01em;
  }
  .form-terms {
    // font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    // color: $title-second-color;
  }
  .contract {
    color: rgba(33, 150, 243, 1);
    text-decoration: underline;
  }
  .svg-agree {
    margin-right: 8.38px;
  }
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .form-contract {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .data {
  margin-bottom: 12px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  }
  .form :not(:last-child) {
    margin-bottom: 10px;
  }
  .area {
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline-style: none;
  }
  .area ::placeholder {
    // font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  }
  .area:focus {
    // border: 1px solid $accent-color;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-imput {
    box-sizing: border-box;
    padding: 0;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline-style: none;
    cursor: pointer;
  }
  .form-label {
    padding-bottom: 4px;
  }
  .icon-name {
    position: absolute;
    top: 55%;
    left: 15px;
    // fill: $pre-title-case;
  }
  .icon-telefon {
    position: absolute;
    top: 55%;
    left: 14.27px;
    // fill: $pre-title-case;
  }
 
  textarea {
    resize: none;
    width: 448px;
    height: 120px;
    left: 576px;
    top: 518px;
  }
  .form-imput:focus + .icon-form {
    // fill:$accent-color;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-imput:focus {
    // border: 1px solid $accent-color;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox-form {
    display: flex;
    align-items: center;
  }
  .form-contract {
    display: inline-block;
  }
  .icon-wrapper {
    width: 16px;
    height: 15px;
    // border: 2px solid $pre-title-case;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-contract .agree-icon {
    fill: transparent;
  }
  // .form-contract input:checked + .checkbox-form .agree-icon {
  //   fill: $title-first-color;
  // }
  
  // .form-contract input:checked + .checkbox-form .icon-wrapper {
  //   background-color: $accent-color;
  //   border: none;
  // }
  
  .submit-button {
    width: 121px;
    height: 42px;
    // left: 224px;
    // top: 570px;
    background: $secondaryYellow;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: $black;
    cursor: pointer;
  }
 
