.footer {
  background-color: $primaryColor;
}
.footer-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
  }
}
.location-list {
  height: 942px;
  transform: translateY(-353px);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet) {
    transform: translateY(-299px);
    height: 215px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    transform: translateY(-128px);
    height: 386px;
    gap: 32px;
    justify-content: center;
  }
}
.location-list__item {
  box-sizing: border-box;
  background-color: $white;
  padding: 40px 32px 24px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  
  @media screen and (max-width: calc($tablet - 1px)) {
    max-width: 280px;
  }
  @media screen and (min-width: $tablet) {
    width: 224px;
    padding: 40px 24px;
  }
  @media screen and (min-width: $desktop) {
    width: 368px;
    padding: 40px;
  }
  @media screen and (max-width: calc($tablet - 1px)) {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 16px;
    }
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}
.location-list__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.04em;
  padding: 4px 22px;
  background-color: $secondaryYellow;
  color: $black;
  display: inline;
  border-radius: 4px;
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }

}
.location-list__city {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $black;
  margin-top: 20px;
  margin-bottom: 8px;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
.location-list__geo {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.04em;
  position: relative;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 24px;
  color: $coffeeColor;
  &:hover {
    text-decoration: underline;
  }
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
.location-list__schedule {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
  @media screen and (min-width: $tablet) {
    padding-bottom: 32px;
  }
}
.location-list__schedule--black {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $black;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
.location-list__schedule--grey {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ABABAB;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
.location-list__contacts {
  padding-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: $black;
  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    font-size: 14px;
    line-height: 150%;
  }
}
.location-list__contacts-link {
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}
.location-list__contacts-item {
  margin-bottom: 6px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 4px;
  }
}
.footer-buttons {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 60px;
  }
}
.location-modal-btn {
  color: $black;
  display: block;
  margin: 0px auto; 
  padding: 12px 56px 12px 40px;
  background-color: $secondaryYellow;
  border: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  position: relative;
  height: 42px;
  & .arrow-icon {
    top: 16px;
  }
  &:hover {
    background-color: $hoverColor;
    transition: $transition;
    opacity: 0.9;
    cursor: pointer;
  }
  &:focus {
    background-color: $hoverColor;
    color: $white;
    outline: none;
    transition: $transition;
  }

  @media screen and (min-width: $tablet) {
    margin: 0;
    display: inline;
  }
}
.franchise-modal-btn {
  color: $black;
  display: block;
  margin: 16px auto;
  padding: 12px 70px 12px 56px;
  border: 2px solid $secondaryYellow;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  background-color: $primaryColor;
  border-radius: 10px;
  position: relative;
  height: 42px;
  &:hover {
    border: 2px solid $hoverColor;
    transition: $transition;
    opacity: 0.9;
    cursor: pointer;
  }
  &:focus {
    border: 2px solid $hoverColor;
    transition: $transition;
    color: $white;
    outline: none;
  }
  @media screen and (min-width: $tablet) {
    margin: 0;
    display: inline;
  }
}
.arrow-icon {
  width: 5px;
  height: 10px;
  margin-left: 7px;
  top: 16px;
  position: absolute;
}
.heading-social {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-top: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 120px;
  }
}
.footer__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: $white;
  text-align: start;
  @media screen and (min-width: $tablet) {
    width: 50%;
    font-weight: 700;
    font-size: 26px;
  }
  @media screen and (min-width: $desktop) {
    width: 60%;
    font-weight: 400;
    font-size: 37px;
  }
}
.footer__heading-span {
  margin-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.06em;
    padding-bottom: 32px;
    margin-top: 8px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 14px;
    font-size: 58px;
    padding-bottom: 0;
    margin-bottom: -49px;
  }
  }
.footer-contacts {
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    width: 50%;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }
}
.footer-contacts__social {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-top: 68px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 18px;
    margin-bottom: 40px;
  }
}
.footer__social-links {
  border: 7px solid $secondaryYellow;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .footer__social-icons,
  &:focus .footer__social-icons {
    fill: $white;
    transition: $transition;
  }
}
.footer__social-icons {
  width: 20px;
  height: 20px;
  fill: $primaryColor;
  background-color: $secondaryYellow;
}
.footer-contacts__paragraph {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: end;
  color: $black;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
.footer-contacts__link {
 color: $white;
}

.footer-rights {
  padding: 20px;
  border-top: 1px solid #E1E1E1;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  color: #E1E1E1;
  position: relative;
  @media screen and (min-width: $tablet) {
    padding: 12px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 12px;
    border: none;
    margin-top: 6px;
    &::before {
      position: absolute; 
      content: "";  
      height: 1px; 
      left: 16px;
      border-radius: 3px;
      width: calc(100% - 32px);
      background-color: #E1E1E1; 
      bottom: 44px; 
    }
  }
}