.header {
  background-color: $primaryColor;
  position: relative;
}

.header__logo {
 width: 40px;
 height: 37px;
}

.header-container {
 padding: 12px 20px;
 margin-bottom: 1000px;
 display: flex;
 justify-content: space-between;
}

.nav-container {
 display: flex;
 @media screen and (max-width: calc($desktop - 1px)) {
    display: none;
 }
     
}


.nav-list__link {
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 125%;
 color: $white;
 &:hover {
     color:$secondaryYellow
 }
}

.header-container .menu-toggle {
  width: 32px;
  height: 32px;
  border: none;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  margin-top: 9px;
}

.burger {
    width: 32px;
    height: 32px;
    fill: $white;
}
.buynow {
 font-style: normal;
 font-weight: 600;
 font-size: 14px;
 line-height: 121%;
 padding: 12px 51px 12px 36px;
 background-color: $secondaryYellow;
 border-radius: 10px;
 border: none;
 position: relative;
 @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
 }
}