.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hero-container {
  position: relative;

	width: 320px;
	margin-left: auto;
	margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
		width: $tablet;
	}

  @media screen and (min-width: $desktop) {
		width: $desktop;
	}
}


// hero
.hero {
  background: $primaryColor;
}


.hero-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: calc(34 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  margin-left: 20px;
  width: 250px;

  @media screen and (max-width: 319px) {
    width: 70%;
    font-size: 21px;
    line-height: 1.27;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
    line-height: 1.26;
    width: 372px;
    margin-left: 16px;
	}
}
.hero-title__span {
  @media screen and (max-width: 767.9px) {
    font-size: 29px;
    line-height: 1.03;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199.9px) {
    font-size: 24px;
    line-height: 0.54;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
  }
}

// hero-image

.hero__icecream {
  position: absolute;
  width: 177px;
  bottom: -3px;
  left: 83px;

  @media screen and (min-width: $mobile) {
    bottom: -3px;
    left: 243px;
  }

  @media screen and (min-width: $tablet) {
    bottom: -3px;
    left: 410px;
  }

    @media screen and (min-width: $desktop) {
    bottom: -3px;
    left: 664px;
  }
}

.hero__doots {
  position: absolute;
  width: 320px;
  bottom: 0;

  @media screen and (min-width: $mobile) {
    right: 0px;
  }

  @media screen and (min-width: $tablet) {
    left: 0px;
  }

  @media screen and (min-width: $desktop) {
    left: 0px;
  }
}


// about-product
.about-product {
  display: flex;
  gap: 12px;
  margin-left: 20px;
  margin-top: 32px;
  padding-bottom: 236px;

  @media screen and (min-width: $mobile) {
    padding-bottom: 150px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 32px;
    padding-bottom: 176px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 16px;
    padding-bottom: 332px;
	}
}
.about-products,
.about-product_made {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  z-index: 22;
  height: 42px;
}

.about-products {
  padding: 11px 26px;
  text-align: center;
  color: $black;
  text-decoration: none;

  border: 2px solid $secondaryYellow;
  border-radius: 8px;

  @media screen and (max-width: 280px) {
    padding: 0;
    border: none;
	}

  &:hover,
  &:focus {
    transition: $transition;
    background: $hoverColor;
    border: 2px solid $hoverColor;
  }
}
.about-product_made {
  padding: 11px 12px;
  text-align: center;
  // text-decoration: underline;
  text-decoration-line: underline;
  color: $secondaryYellow;
  border: 2px solid transparent;

  @media screen and (max-width: 280px) {
    padding: 0;  
	}

  &:hover,
  &:focus {
    transition: $transition;
    border: 2px solid $hoverColor;
    border-radius: 8px;
  }
}


// cafes_truck
.cafes_truck {
  position: absolute;
  top: 8px;
  right: 32px;

  @media screen and (max-width: 767.9px) {
    display: none;
	}
  @media screen and (min-width: $desktop) {
    right: 16px;
  }
}

.cafes_truck_number,
.cafes_truck_kind {
  padding: 0;
	margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  text-align: right;
}

.cafes_truck_number {
  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);

  letter-spacing: 0.04em;

  color: $black;

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: calc(56 / 46);
	}

}

.cafes_truck_kind {
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);

  color: $white;

  margin-top: 4px;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(17 / 14);
	}

}


// many-ice
.many-ice {
  @media screen and (max-width: 320px) {
    display: none;
	} 
}

.many-ice_img {
  position: absolute;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    left: 32px;
    bottom: 12px;
	}

  @media screen and (min-width: $desktop) {
    left: 16px;
    bottom: 65px;
	} 
}

.effects {
  animation-name: pulsar;
  animation-duration: 4500ms;
  animation-timing-function: linear;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @media screen and (max-width: 767.9px) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199.9px) {
    width: 154px;
    left: 32px;
    bottom: 13px;
  }

  @media screen and (min-width: $desktop) {
    width: 225px;
    left: 16px;
    bottom: 61px;
  }
}

@keyframes pulsar {
  0% {
    scale: 0.9;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 0.9;
  }
}

.many-ice_text {
  position: absolute;
  display: none;
  left: 216px;
  bottom: 52px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: $white;
  width: 140px;

  @media screen and (min-width: $tablet) {
    display: block;
  } 
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    width: 200px;
    left: 257px;
    bottom: 143px;
	} 
}

.many-ice_arrow {
  position: absolute;
  display: none;
  left: 216px;
  bottom: 32px;

  @media screen and (min-width: $tablet) {
    display: block;
	} 

  @media screen and (min-width: $desktop) {
    left: 257px;
    bottom: 111px;
  
	} 
}

