.menu-container {
  padding: 12px 32px;
  background-color: $primaryColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primaryColor;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.menu-toggle {
  background-color: $primaryColor;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.close-mobile {
    fill: $white;
    width: 20px;
    height: 20px;
}
.menu-header__logo { 
  width: 40px;
  height: 37px;

}
.mobile-menu {
  margin-top: 51px;
  text-align: center;
}
.mobile-menu__item {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;

}
.mobile-menu__item--noMargin {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}
.mobile-menu__link {
  color: $white;
}
.buynow-menu {
  margin-top: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  padding: 12px 51px 12px 36px;
  background-color: $secondaryYellow;
  border-radius: 10px;
  border: none;
  position: relative;
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: calc($desktop - 1px)) {
    display: none;
  }
}

.menu-toggle_icon {
  fill: $white;
  width: 20px;
  height: 20px;
    
}

@media (min-width: calc($desktop - 1px)) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}


.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
}
