.products {
    padding-top: 60px;
    padding-bottom: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/products/background-mob@1x.png');
    @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/background-mob@2x.png');
    }
    
    @media screen and (min-width: $tablet) {
        background-image: url('../images/products/background-tab@1x.png');
    @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/background-tab@2x.png');
    }
    }
    @media screen and (min-width: $desktop) {
        background-image: url('../images/products/backgrouund-des@1x.png');
    @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/backgrouund-des@2x.png');
    }
    }


    &__container {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        @media screen and (min-width: $mobile) {
            width: 480px;
        }
        @media screen and (min-width: $tablet) {
            width: 768px;
            padding-left: 32px;
            padding-right: 32px;
        }
        @media screen and (min-width: $desktop) {
            width: 1200px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

.products__label {
    font-family: Montserrat;
    color: $black;
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,22;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: $tablet){
        max-width: 768px;
        font-size: 22px;
        line-height: 1,23;
    }
    @media screen and (min-width: $desktop){
        max-width: 1200px;
        font-size: 30px;
        line-height: 1,23;
    }
}
.products__title {
    font-family: 'Seymour One', sans-serif;
    color: $black;
    margin-bottom: 148px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1,27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: $tablet) {
        margin-bottom: 200px;
        font-size: 34px;
        line-height: 1,26;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 303px;
        font-size: 36px;
        line-height: 1,25;
    }
}
.products__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 168px;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        gap: 16px;
    }
    @media screen and (min-width: $desktop) {
        gap: 29px;
    }
}
.products__card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 280px;
    height: 420px;
    border-radius: 24px;

    padding-top: 123px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (min-width: $tablet) {
        width: 224px;
        height: 428px;
        padding-top: 108px;
        padding-left: 26px;
        padding-right: 26px;
    }
    @media screen and (min-width: $desktop) {
        width: 370px;
        height: 535px;
        padding-top: 165px;
        padding-bottom: 67px;
        padding-left: 64px;
        padding-right: 64px;
    }
}
.products__ice-cream {
    background-color: #aec6a5;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 242px;
        min-height: 241px;
        background-image: url(../images/products/ice_cream_sm@1x.png);
        background-size: contain;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../images/products/ice_cream_sm@2x.png');
        }
    }
    @media screen and (min-width: $tablet) {
        &::before {
            min-width: 240px;
            min-height: 240px;
            background-image: url(../images/products/ice_cream_md@1x.png);
            background-size: contain;
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url('../images/products/ice_cream_md@2x.png');
            }
        }
    }
    @media screen and (min-width: $desktop) {
        &::before {
            min-width: 362px;
            min-height: 362px;
            background-image: url(../images/products/ice_cream_lg@1x.png);
            background-size: contain;
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url('../images/products/ice_cream_lg@2x.png');
            }
        }
    }
}
.products__ice-coffee {
    background-color: #efd478;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 242px;
        min-height: 241px;
        background-image: url(../images/products/ice_coffee_sm@1x.png);
        background-size: contain;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../images/products/ice_coffee_sm@2x.png');
        }
    }
    @media screen and (min-width: $tablet) {
        &::before {
            min-width: 240px;
            min-height: 240px;
            background-image: url(../images/products/ice_coffee_md@1x.png);
            background-size: contain;
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url('../images/products/ice_coffee_md@2x.png');
            }
        }
    }
    @media screen and (min-width: $desktop) {
        &::before {
            min-width: 362px;
            min-height: 362px;
            background-image: url(../images/products/ice_coffee_lg@1x.png);
            background-size: contain;
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url('../images/products/ice_coffee_lg@2x.png');
            }
        }
    }
}
.products__milkshakes {
    background-color: #d6936d;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 242px;
        min-height: 241px;
        background-image: url(../images/products/milkshakes_sm@1x.png);
        background-size: contain;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../images/products/milkshakes_sm@2x.png');
        }
    }
    @media screen and (min-width: $tablet) {
        &::before {
            min-width: 240px;
            min-height: 240px;
            background-image: url(../images/products/ice_coffee_md@1x.png);
            background-size: contain;
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url('../images/products/ice_coffee_md@2x.png');
            }
        }
    }
    @media screen and (min-width: $desktop) {
        &::before {
            min-width: 362px;
            min-height: 362px;
            background-image: url(../images/products/milkshakes_lg@1x.png);
            background-size: contain;
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url('../images/products/milkshakes_lg@2x.png');
            }
        }
    }
}
.products__undertitle {
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black;

    @media screen and (min-width: $tablet) {
        font-size: 22px;
        line-height: 1.23;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 66px;
        font-size: 30px;
    }
}
.products__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,76;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0 auto;

    color: $black;

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}
.products__button {
    display: flex;
    align-self: center;
    height: 22px;
    justify-content: center;
    margin-top: auto;
    padding: 0;
    background-color: transparent;
    outline: transparent;
    border: none;
}
.product__icon {
    width: 40px;
    height: 14px;
    cursor: pointer;
    // transition-property: width, height;
    // transition-duration: .25s;
    transition-timing-function: $transition;
    &:hover {
        width: 55px;
        height: 20px;
      }
}